

.exp {
    position: absolute;
    bottom: 30%;
    left: -10px;
    padding: 10px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: #fff;
}
.exp h2 {
    position: absolute;
    bottom: 40px;
    left: -10px;
    padding: 10px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: #fff;
}
.exp h2:after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f8f4f3;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: -1;
}

.numb {
   
    font-weight: 700;
    margin-bottom: 10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(229, 226, 223);
}
.numbs {
   
    font-weight: 700;
    margin-bottom: 10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.box:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #272727;
    z-index: -1;
}

.box:after {
    content: "";
    position: absolute;
    left: -15px;
    top: -15px;
    right: -15px;
    bottom: -15px;
    background: #fff;
    opacity: .05;
    z-index: -4;
}

.team{
    background: #020b0d0d;
}